* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

input,
select,
button {
  outline: none;
}

body {
  font-family: 'Lato';
  font-weight: 300;
  background: #003471;
}

.header {
  padding-bottom: 30px;
  background: url("../img/portfolio_bg_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-nav {
  padding: 30px 0;
  background: #fff;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-logo {
  font-family: 'Lato';
  font-weight: 900;
  text-transform: uppercase;
  color: #ffaa00;
  font-size: 41px;
}

.header-logo span {
  color: #003471;
}

.header-logo :nth-child(2) {
  color: #626262;
  font-family: 'Lato';
  font-weight: 300;
  text-transform: lowercase;
  font-size: 20px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 434px;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  position: relative;
  /*         &__link_active::after{
            display: none;
                content: '';
                width: 1; 
                height: 1;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #ffffff;
                position: absolute;
                z-index: 5;
                top: 64px;
                left: 15px;
        } */
}

.header-menu__item {
  border-right: 2px solid #ebebeb;
  padding-right: 20px;
}

.header-menu :nth-child(5) {
  border: none;
}

.header-menu__link {
  color: #003471;
}

.header-menu__link_active {
  color: #ffaa00;
}

.header-subtitle {
  text-transform: uppercase;
  text-align: center;
  margin: 307px 0 23px;
  color: #fff;
  font-family: 'Lato';
  font-weight: 100;
  font-size: 30px;
}

.header-title {
  font-family: 'Lato';
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 50px;
}

.header-title span {
  font-family: 'Lato';
  font-weight: 400;
}

.header-text {
  color: #fff;
  font-family: 'Lato';
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 26px;
}

.header-button {
  text-align: center;
  color: #fff;
  padding: 12px 20px;
  background: #ffaa00;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'Lato';
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header-button:hover {
  background: #fff;
  color: #ffaa00;
  border: 1px solid #ffaa00;
}

.header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 48px;
}

.header-social__icons {
  margin-top: 155px;
}

.header-social__icons_item .fa {
  background: #a8bacf32;
  color: #fff;
  border-radius: 50%;
  border: 9px solid #a8bacf;
  margin-right: 10px;
  height: 61px;
  width: 61px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 40px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header-social__icons_item .fa:hover {
  background: #4f8bcf;
}