@import 'var';
@import 'mixin';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a,
a:hover{
    text-decoration: none;
}

input,
select,
button{
    outline: none;
}

body{
    font-family: 'Lato';
    font-weight: 300;
    background: $blue;
}

.header{
    padding-bottom: 30px;
    @include bg('../img/portfolio_bg_01.jpg');
    &-nav{
        padding: 30px 0;
        background: $white;
    }
    .container{
        @include flex(space-between)
    }
    &-logo{
        @include lato(900);
        text-transform: uppercase;
        color: $orange;
        font-size: 41px;
        span{
            color: $blue;
        }
        :nth-child(2){
            color: #626262;
            @include lato(300);
            text-transform: lowercase;
            font-size: 20px;
        }
    }
    &-menu{
        @include flex(space-between);
        max-width: 434px;
        width: 100%;
        text-transform: uppercase;
        @include open;
        font-size: 14px;
        position: relative;
        &__item{
            border-right: 2px solid #ebebeb;
            padding-right: 20px;
        }
        :nth-child(5){
            border: none;
        }
        &__link{
            color: $blue;
            &_active{
                color: $orange;
    
            }
        }

/*         &__link_active::after{
            display: none;
                content: '';
                width: 1; 
                height: 1;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #ffffff;
                position: absolute;
                z-index: 5;
                top: 64px;
                left: 15px;
        } */
    }
    &-subtitle{
        text-transform: uppercase;
        text-align: center;
        margin: 307px 0 23px;
        color: $white;
        @include lato(100);
        font-size: 30px;
    }
    &-title{
        @include lato(100);
        text-align: center;
        text-transform: uppercase;
        color: $white;
        font-size: 50px;
        span{
            @include lato(400)
        }
    }
    &-text{
        color: $white;
        @include lato(700);
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 26px;
    }
    &-button{
        text-align: center;
        color: $white;
        padding: 12px 20px;
        background: $orange;
        border-radius: 3px;
        font-size: 16px;
        @include lato(400);
        text-transform: uppercase;
        transition: 0.5s;
    }
    &-button:hover{
        background: $white;
        color: $orange;
        border: 1px solid $orange;
    }
    &-social{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 48px;
        &__icons{
            margin-top: 155px;
            &_item{
                .fa{
                    background: #a8bacf32;
                    color: #fff;
                    border-radius: 50%;
                    border: 9px solid #a8bacf ;
                    margin-right: 10px;
                    height: 61px;
                    width: 61px;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    font-size: 40px;
                    transition: 0.5s;
                }
                .fa:hover{
                    background: #4f8bcf;                   
                }
            }
        }
    }



}

